.card {
    border: none;
}

.homepagePhoto_1 {
    height: 250px;
    width: auto;
    padding: 5px;
    margin: 5px;
}

h1 {
    text-align: center;
}

p {
    padding: 25px;
    margin: 20px;
    text-align: left;
    
}

.nav-social {
  
}