.card {
    border: none;
}

.homepagePhoto_1 {
    height: 250px;
    width: auto;
    padding: 5px;
    margin: 5px;
}

h1 {
    text-align: center;
}

p {
    padding-left: 25px;
    margin: 25px;
    text-align: left;
}

.fa {
    padding: 12px;

}

a {
    color:rgba(255,255,255,.5);
}